.top-menu {
  background-image: linear-gradient(180deg, #f1f2e7, #8f908a);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 20px $font-color;
  margin-bottom: 40px;
  li:nth-child(1n+2) {
    font-size: 1.4rem;
    a {
      text-decoration: none;
      color: $header-color;
      &:hover{
        color: #7d8281;
      }
    }
    padding: 20px;
    //max-width: 25vw;
  }
  .active{
    font-weight: 700;
  }
  span {
    font-size: 1rem;
  }
}
.li-logo {
  a {
    &:hover {
      text-decoration: none;
      color: #412;
    }
  }
}
.main-logo {
  font-family: "Charmonman", fantasy;
  font-weight: 700;
  font-size: 2.7rem;
  margin-right: 60px;
  margin-left: 10px;
  text-decoration: none;
  color: #412;
}