$font-color: #5B605F;
$header-color: #4a4a49;
$buttons-color: #66905d;
$screen-color: #e3e3e3;
$info-color: #3498DB;
$warning-color: #FFB03B;
$success-color: #468966;
$trash-icon-color: #BD4932;
$table-text-color:#A1A194;
$table-color: #F3F3F3;